@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --header-bg: #A2CA6C; 
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --header-bg: #244539; 
  --background: #0e0c0c; 
  --foreground: #ededed;
}

@theme {
  --color-header: var(--header-bg);
}

/* Correction : cibler uniquement le header avec la classe bg-custom-header */
.bg-custom-header {
  background-color: var(--header-bg) !important;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Time New Roman';
}

footer {
  margin-top: auto;
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}